body {
    width: 500px;
    margin: 10px;
    padding: 24px;
    overflow: none;
}

button,
input {
    margin-top: 8px;
}

#code-list {
    border: 1px black;
    padding: 24px;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

.btn {
    margin-right: 8px;
}

.container {
    height: 500px;
    width: 500px;
}

#alert-copiado-sucesso {
    padding: 24px;
}